@import "tailwindcss";
@source "../index.html";
@source "./**/*.{js,jsx,ts,tsx}";
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-600;
  }
  
  html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
body {
  @apply transition-colors duration-600;
}

@keyframes fadeOutSkeleton {
  0% {
    opacity: 1;
    pointer-events: auto;
  }
  90% {
    opacity: 1;
    pointer-events: auto;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.skeleton-container-delayed {
  animation-name: fadeOutSkeleton;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
